{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}


	<div class="container  col-3">
		<form class="row g-3" method="POST" action="{{ path('addElt') }}">
			<div class="col-10">
				<input type="text" class="form-control" placeholder="Element" name="elt">
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3">add</button>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="3">
						<strong>Name</strong>
					</th>
				</tr>
			</thead>
			<tbod>
				{% for lst in lstCourse %}
					<tr class="{% if lst.buy == true %}table-danger{% endif %}">
						<td class="{% if lst.buy == true %}barre{% endif %}">{{ lst.name }}</td>
                        <td><a href="{{ path('modifElt',{id:lst.id}) }}"><i class="fas fa-check"></i></a></td>
                        <td><a href="{{ path('delElt',{id:lst.id}) }}"><i class="fas fa-trash"></i></a></td>
					</tr>
				{% endfor %}
			</tbod>
		</table>
	</div>

{% endblock %}
